<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head><body><div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="../home">ComicCollab</a>
    </div>
    <div class="page-header" style="margin-top: 60px">
        <h1>Comic <%=comicNumber%></h1>
        <a href="../uploadcomics/<%=comicNumber%>">Edit</a>
    </div>
    <div style="min-width: 1250px">
    <% for (var i=0; i<images.length; i++) { %>
    <img style="width: 300px; height:300px" src=<%= images[i]%> />
    <% } %>
    </div>
</div>
</body>
</html>