
body {
  padding-top: 50px;
  font-size: 20px;
  font-family: 'Inconsolata', serif;
}

.hold-bottom {
  padding: 5px;
  position: fixed;
  bottom: 0;
}

.modal-megamenu {
    width:80%;
    height:80%;
}

.modal-body {
    max-height:500px;
    overflow:auto;
}


.modal-prebody {
  max-width: 100%;
  word-wrap: break-word;
  margin: 10px 0 0 10px;
}

.modal-title {
  font-family: 'Inconsolata', serif;
  font-size: 48px;
}

.modal-dialog p
{
  color: #000;

  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type 6s steps(60, end);
  font-family: 'Inconsolata', serif;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.modal-dialog p:nth-child(2){
  animation: type2 4s steps(60, end);
}



@keyframes type{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }

}

@keyframes type2{

    from { width: 0; }
}

.modal-footer {
  font-family: 'Inconsolata', serif;
}

.btn-warning {
  background: #9ee6ff;
  border-color: #FFFFFF;
}


#myModal {
  background:rgba(255,255,255,0.5);
  text-shadow: 4px 4px 4px #aaa;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
#messages
  li {
    padding: 5px 10px;
  }
/*#messages
  li:nth-child(odd) {
  background: #9999FF;
  margin-right: 10px;
  color:#354EA0;
}*/
.mine {
  background: #d1f3ff;
}

.you {
  background: #d1ffdd;
}

}

.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-brand {
  margin: 0px;
  padding: 0;
  /*margin-bottom: 0;
  margin-left: -50px;
  margin-right: 50px;*/
  text-align: center;
  width: 100%;
  border-radius: 5px;
  position: relative;
  font-size:48px;
  color: #3b88c3;
  display: block;

}
